<style>
  .custom-nav .nav-link {
    font-weight: 600;       /* bold */
    font-size: 1.2rem;      /* bigger font */
    margin-right: 30px;     /* extra spacing between items */
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse custom-nav" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Career Guidance</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
